
<script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: <%- JSON.stringify(events) %>
      });
      calendar.render();
    });

</script>

<div id="calendar"></div>