<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stepcounter App with EJS</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body data-bs-theme="dark">
    <div class="container">
        <header>
            Stepcounter App whith EJS
        </header>
        <%- include('navbar') %>
        <main>